
# Ignore everything without an extension.
*
!*.*
!*/

# Don't ignore makefiles.
!makefile
!Makefile

# Don't ignore license files.
!LICENSE

# Ignore .txt files.
*.txt

# Ignore solution files.
*atsln

# Ignore CMake files other than CMakeLists.txt.
*CMakeCache.txt
*CMakeFiles
*cmake_install.Makefile
*cmake_install.cmake

# Ignore Python cache.
*__pycache__/

# Ignore vscode directory.
*vscode/
*vs/

# Ignore debug folder.
*Debug/

# Ignore build folder.
*build/

# Ignore SDK config files.
*sdkconfig

# Ignore SDK config files.
*sdkconfig.old

#Ignore Vscode files
*.vscode

# Ignore ESP32 files.
*managed_components/
*dependencies.lock
*idf_component.yml

# Ingore todo lists
*assigned_todo.md
*Funktionertilldelade
